.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 180px auto 0 auto;
    align-items: center;
}

.title {
    margin: 0;
}

.form {
    width: 100%;
}

.form div {
    width: 100%;
}

.form svg {
    margin-left: 190px;
}
.form button {
    margin-left: calc(240px - 64px);
}

.link {
    text-decoration: none;
    font-family: JetBrains Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #4C4CFF;
    text-align: center;
    padding: 0 0 0 8px;
}
