.section {
    background: #131316;
    width: 600px;
}

.container {
    padding: 0 0 0 38px;
}

.card {
    padding: 0;
    height: calc(100vh - 464px);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.card::-webkit-scrollbar {
    width: 8px;
}

.card::-webkit-scrollbar {
    background: #2F2F37;
}

.card::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.list {
    margin-right: 30px;
    height: 464px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    gap: 8px;
}

.listItem {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.ElementsItem {
    list-style-type: none;
    width: 568px;
    display: flex;
    align-items: center;

}

.ElementsConstructor {

    width: 488px;
}

.top {
    left:20px;
    width: 88%;
    height: 77px;
    position: relative;
    border: solid 2px #c9c2ec;
    border-radius: 88px 88px 40px 40px;
}

.bottom {
    left:20px;
    width: 88%;
    height: 77px;
    position: relative;
    border: solid 2px #c9c2ec;
    border-radius: 40px 40px 88px 88px;
}

.overbun {
    border-radius: 5px solid blue;
}

.bunTop::after {
    position: absolute;
    content: 'Перетащите булку';
    left: 25%;
    top: 30%;
}

.bunBottom::after {
    position: absolute;
    content: 'Перетащите булку';
    left: 25%;
    top: 30%;
}
