.test {
    background-color: aquamarine;
    width: 600px;

}
.card {
    height: calc(100vh - 464px);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 8px;
    margin: 16px 0;
}

.card::-webkit-scrollbar {
    background: #2F2F37;

}

.card::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.list {
    height: 464px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    gap: 8px;
}

.listItem {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}